<h2 class="text-center">Order list</h2>

<div class="mid-container" id="cart"> <!-- id для функции canselOrder() -->

  <!-- таблица заказов -->
	<div class="flexmom-index-main">
    <% sum = 0 %>

  	<% @order_list.each do |pizza, count| %>
  		<div class="son-index-main">
  	    <div class="text-center pizza-title"><%= pizza.title %></div>
  	    <div><img src="<%= pizza.path_to_image %>" alt=""></div>
  	    <div>Size: <%= pizza.size %> cm</div>
				<div>Price: <%= pizza.price %> rub</div>
  	    <div>Количество: <%= count %></div>
  	    <div>Сумма товара: <%= pizza.price * count %></div>
  		</div>
  		<% sum += pizza.price * count %>
  	<% end %>

	</div>
  <p class="text-center"><span class="fake-button-2">Общая сумма: <%= sum %></span></p>



  <h2 class="text-center h-cart">Подтвердите заказ</h2>
  <!-- Форма подтверждения заказов -->
  <div class="flexmom-index-main">

    <form action="/order" method="POST" id="orders-form">
      <div>
        <label>Ваше имя</label><br>
        <input name="client[name]" type="text" value="<%= @c.name %>">
      </div>
      <div>
        <label>Ваш телефон</label><br>
        <input name="client[phone]" type="text" value="<%= @c.phone %>">
      </div>
      <div>
        <label>Ваш адрес</label><br>
        <input name="client[address]" type="text" value="<%= @c.address %>">
      </div>
      <!-- Скрытое поле с "product_1=4,product_2=7,product_3=4," -->
      <input name="client[products]" type="hidden" value="<%= @order_code %>">

      <button type="submit" class="button-1 trans">Подтвердить</button>

      <!-- Для очистки козины на странице подтвержден -->
      <button onclick="canselOrder()" type="button" class="button-1 trans">Cancel</button> 
    </form>

  </div>

</div>



