<h2 class="text-center">Wellcome to Pizza Shop!</h2>


<div class="mid-container">
	<div class="flexmom-index-main">
		<% @products.each do |pizza| %>

			<div class="son-index-main">
				<div class="text-center pizza-title"><%= pizza.title %></div>
				<div><img src="<%= pizza.path_to_image %>" alt=""></div>
				<div><%= pizza.description %></div>
				<div>Size: <%= pizza.size %> cm</div>
				<div>Price: <%= pizza.price %> rub</div>
				<div class="text-center">
					<button class="button-1" onclick="rmFromCart(<%= pizza.id %>)">меньше -</button>
					<button class="button-1" onclick="addToCart(<%= pizza.id %>)">+ больше</button>				
				</div>
			</div>

		<% end %>
	</div>
</div>

<!-- Чтобы при обновлении страницы данные 'product_1=5,product_2=4,product_3=6,' в поле и колличество товаров в имени кнопки тоже обновлялись и вставлялись в значения поля/кнопки  -->
<script>
  $(function() {
    updateOrdersInput();
    updateOrdersButton();
  });
</script>