<h2 class="text-center">Wellcome to Pizza Shop!</h2>


<div class="mid-container">
	<div class="flexmom-index-main">
		<% @products.each do |pizza| %>

			<div class="son-index-main">
				<div class="text-center pizza-title"><%= pizza.title %></div>
				<div><img src="<%= pizza.path_to_image %>" alt=""></div>
				<div><%= pizza.description %></div>
				<div>Size: <%= pizza.size %> cm</div>
				<div>Price: <%= pizza.price %> rub</div>
				<div class="text-center">
					<button class="button-1 trans" onclick="addToCart(<%= pizza.id %>)">Add to cart</button>
				</div>
			</div>

		<% end %>
	</div>
</div>
